<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>factoryName</key>
		<string>GaodeMapFactory</string>
		<key>id</key>
		<integer>1</integer>
		<key>key</key>
		<string>c1d500d0ea979f864357da03a09284eb</string>
		<key>isOpen</key>
		<false/>
	</dict>
	<dict>
		<key>factoryName</key>
		<string>BaiduMapFactory</string>
		<key>id</key>
		<integer>2</integer>
		<key>key</key>
		<string>TIFQmp3HcFBAx9iiYx7kuN9fSqy0sKEq</string>
		<key>isOpen</key>
		<true/>
	</dict>
</array>
</plist>
